#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#planos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.plano-titulo {
    background-color: #fdcae1;
}

.plano {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 30%;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.plano-coracao {
    position: absolute;
    background-color: #77dd77;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #fff9ea;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.plano-descricao {
    color: #434343;
    text-align: center;
}

.plano-avaliacao i {
    color: #e9a209;
}

.plano-preco {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1170px) {
    #planos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .plano {
        width: 50%;
    }
}

@media screen and (max-width: 775px) {

    .plano-racao {
        width: 275px;
        height: 265px;
    }

    .plano-veterinario{
        width:180px;
    }

    .plano-adocao{
        width:405px;
    }
}

@media screen and (max-width: 687px) {

    .plano-racao {
        width: 275px;
        height: 265px;
    }

    .plano-veterinario{
        width:180px;
    }

    .plano-adocao{
        width:405px;
    }
}

@media screen and (max-width: 500px) {

    .plano-racao {
        width: 190px;
        height: 185px;
    }

}

@media screen and (max-width: 850px) {

.plano {
    width: calc(100% - 12px);
}
}